body {
}

#header{
    width: 98%;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-bottom: 1px solid black;
}

#logo{
    width: 300px;
    height: 65px;
    position: absolute;
    top: 0;
    right: 10px;
}

#title{
    width: auto;
    height: 100px;
    position: absolute;
    top: 0;
    left: 20px;
}

H1{
    font-family: Arial, sans-serif;
    font-size: 40px;
}

h5{
    font-family: Arial, sans-serif;
    font-size: 20px;
}

p{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#content-wrapper{
    width: 98%;
    position: absolute;
    top: 95px;
    left: 10px;
}

#explanation{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

ol{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#footer-text{
    width: 98%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 10px;
}