body {
    background-color: #f9f9f9;
    font-family: Arial, Sans-serfif;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

#page{
    background-color: #FFFFFF;
    width: 80%;
    position: absolute;
    top: 10px;
    left: 10%;
    border: 1px solid #ddd;
    color: #646363;
    -moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#header{
    text-align: center;
}

#content{
    text-align: left;
    width: 90%;
    padding: 25px;
}

a{
    color: #8a2222;
    text-decoration: none;
}
a:visited{
    color: #8a2222;
    text-decoration: none;
}
a:hover{
    color: #8a2222;
    text-decoration: underline;
}

#footer-text{
    text-align: center;
    width: 100%;
}